.header__lang-link {
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  margin-left: 18px;
}

@media (max-width: 320px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}