.cover_text-position {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 320px) {
  .cover_text-position {
    gap: 16px;
  }
}