.cover__background {
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/cover__overlay-train-station.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

@media (max-width: 1024px) {
  .cover__background {
    margin: 0 -48px;
    width: calc(100% + 96px);
    min-height: 640px;
  }
}

@media (max-width: 768px) {
  .cover__background {
    margin: 0 -24px;
    width: calc(100% + 48px);
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover__background {
    margin: 0 -16px;
    width: calc(100% + 32px);
    min-height: 320px;
  }
}