.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 0 48px;
}

@media (max-width: 768px) {
  .footer {
    margin: 0 24px;
  }
}

@media (max-width: 440px) {
  .footer {
    flex-direction: column;
    gap: 48px;
  }
}

@media (max-width: 320px) {
  .footer {
    margin-left: 16px;
  }
}